*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color: #a81233;
}
.home{
    height: 90vh;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home .image img{
    width: 350px;
    height: 400px;
    margin-left: 17rem;
    margin-top: 75px;
}
.home-content h1{
    position: relative;
    font-size: 54px;
    font-weight: 700;
}
.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: rgb(30, 202, 116);
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}
.btn-box a{
  text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #a87f8b;
    border: 2px solid #a87f8b;
    border-radius: 8px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
/*skills section starts*/
  .skills-container {
    margin: 30px 0;
}
.skill {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 10px;
}
.skill-name {
    font-weight: bold;
}
.skill-bar { 
    background-color: #a87f8b; 
    height: 20px;
    border-radius: 5px;
}
/*skills section ends*/
/* education section starts */
.education {
    background: blueviolet;
    min-height: 60vh;
  }
  .education .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box {
    display: flex;
    width: 70%;
    border-radius: 0.5rem;
    position: relative;
    margin-top: 2rem;
    background: #efefef;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .education .box-container .box .content h3 {
    font-size: 1.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1rem;
    margin-left: 1rem;
    text-align: left;
    color: #2506ad;
  }
  .education h4 {
    font-size: 1rem;
    color: rgb(55, 19, 0);
    text-align: left;
    margin: 1rem;
    font-weight: 700;
  }
/* education section ends */  
/* contact section starts */
.contact {
    background: blueviolet;
    min-height: 100vh;
  }
  .contact .container {
    max-width: 1070px;
    width: 100%;
    background: burlywood;
    border-radius: 1.5rem;
    margin: 3rem 5rem;
  }
  .contact .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
  }
  .contact .content .image-box {
    max-width: 50%;
    margin-left: 3rem;
  }
  .contact .content .image-box img {
    width: 90%;
    height: 25rem;
    position: relative;
  }
  .contact .content form {
    width: 45%;
    margin-right: 3.5rem;
  }
  form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group .field {
    height: 50px;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form .field input,
  form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 16px 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid #000;
    background: #fff;
  }
  form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
  }
  form .button-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
  }
  .button-area button {
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #1644da;
  }
   /* contact section ends */